In [1]:
import numpy as np
import pandas as pd
import datetime
import re as re

In [2]:
df = pd.read_csv("C:\\Notes\\Python\\Project\\FMCG_Assignment_IOTA\\Raw Sales Data - Copy.csv")

df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [4]:
# Here we saw that, There are 224 rows and 7 columns and there is not a single null value in it and the
# data type of each row and column is object.

In [5]:
df["Qty"] = df["Qty"].str.replace(",","").astype("int64")

df["Sales"] = df["Sales"].str.replace(",","").astype("int64")

df['Month'] = pd.to_datetime(df['Month'])

# Here we see that there are commas in the "Qty" and the "Sales" which are given,then we replaced them.
# After replacing we saw that the data types of 'Month','Qty' and'Sales' are given in the object,
# then we changed into 'datetime' and 'int'.

In [6]:
df.info()

# We can see that the data types of 'Month','Qty' and'Sales' have been changed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    datetime64[ns]
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    int64
 6   Sales         224 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 12.4+ KB

In [7]:
df['Month-Year'] = df['Month'].dt.strftime('%b/%Y')
df
 
# Now We Created the new column of Month-year where we extracted the 'Month Name' and 'Year'.

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month-Year
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,Dec/2020
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,Dec/2020
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,Dec/2020
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,Dec/2020
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,Dec/2020
...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,Mar/2021
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,Mar/2021
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,Mar/2021
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,Mar/2021
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,Mar/2021

In [16]:
#1. Monthwise number of quantities sold..

MonthWise_Qty = pd.DataFrame(df.groupby('Month-Year')["Qty"].sum().reset_index())

MonthWise_Qty


# Here we extracted the 'Qty' based on 'Month' using 'dataframe' and 'groupby'.

  Month-Year    Qty
0   Dec/2020  85427
1   Feb/2021  76393
2   Jan/2021  67732
3   Mar/2021  80229

In [17]:
#2. Category wise Qty sold..


CategoryWise_Qty = pd.DataFrame(df.groupby('Category')['Qty'].sum().reset_index())

CategoryWise_Qty

# Now we extracted the 'Qty' based on 'Category'.

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

In [18]:
#3. Sub-channel wise total sales

Sub_channelWise_sales = pd.DataFrame(df.groupby('Sub-Channels')["Sales"].sum().reset_index())

Sub_channelWise_sales


# Now we extracted the 'Sales' based on 'Sub-Channels'.

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

In [19]:
# 4. Highest sale in which month


Highest_sales = pd.DataFrame(df.groupby('Month-Year')["Sales"].sum().reset_index())
Highest_sales = Highest_sales.sort_values('Sales',ascending=False).head(1)

Highest_sales


# Firstly we have extracted 'Sales' on the basis of 'Month' after extracting we sort the 'Sales' in descending order
# and we got the high sales of the month.

  Month-Year     Sales
3   Mar/2021  25127827

In [20]:
df['Clean Product Name'] = df['Product Name'].str.replace('\d+','---').str.split('---').str[0]


# Here we removed the numbers from product name and created a new column with only text.

C:\Users\hp\AppData\Local\Temp\ipykernel_9412\566844600.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Clean Product Name'] = df['Product Name'].str.replace('\d+','---').str.split('---').str[0]

In [21]:
# 5. Highest selling product (based on sales) (packaging quantity doesn't matter).

Highest_product = pd.DataFrame(df.groupby('Clean Product Name')["Sales"].sum().reset_index())


Highest_product = Highest_product.sort_values('Sales',ascending = False).head(1)

Highest_product

# Here we extracted sales based on 'product name' after extracting we sort the 'Sales' in descending order
# and we got the highest product based on sales.

       Clean Product Name     Sales
1  ALOE + GARCINIA JUICE   12249252

In [30]:
# 6. List of different products company is offering (packaging quantity doesn't matter). 

unique_product = pd.DataFrame(df['Clean Product Name'].value_counts().reset_index())

unique_product


# Here is list of the different company who is offering(packaging quantity doesn't matter).

                              index  Clean Product Name
0               ALOE VERA SKIN GEL                   27
1                       AMLA JUICE                   25
2               APPLE CIDER VINEGAR                  22
3                  ALOE VERA JUICE                   21
4                   GET SLIM JUICE                   14
5            ALOE + GARCINIA JUICE                   13
6           ORGANIC JAGGERY POWDER                   13
7               KARELA JAMUN JUICE                   12
8               VIRGIN COCONUT OIL                    9
9                WHEAT GRASS JUICE                    8
10               TULSI GILOY JUICE                    8
11                      NONI JUICE                    7
12  MASALA SUPERGRAIN MIX IMMUNITY                    6
13               ALOE + AMLA JUICE                    5
14                    HIMALAYA OIL                    4
15                  TRIPHALA JUICE                    4
16                 ORGANIC GULKAND                    4
17                      NEEM JUICE                    4
18               IMMUNE CARE JUICE                    3
19                  DIA FREE JUICE                    3
20                 VIGOR MAX JUICE                    2
21    MASALA SUPERGRAIN MIX ENERGY                    2
22              SLIM SHAKE - MANGO                    2
23          SLIM SHAKE - CHOCOLATE                    2
24              AMLA + GILOY JUICE                    1
25       VEGAN PROTEIN - CHOCOLATE                    1
26               GET SLIM CAPSULES                    1
27              RAW HONEY ( MADHU)                    1

In [1]:
# 7. Create a single excel file to save all the outputs generated above in different subsheets.

writer = pd.ExcelWriter("C:\\Users\\hp\\Desktop\\Power BI\\FMCGi Project.xlsx")

MonthWise_Qty.to_excel(writer,sheet_name = "MonthWise Quantity",index=False)
CategoryWise_Qty.to_excel(writer,sheet_name = "CategoryWise Quantity",index=False)
Sub_channelWise_sales.to_excel(writer,sheet_name = "Sub-Channel Wise Sales",index=False)
Highest_sales.to_excel(writer,sheet_name = "Highest Sale",index=False)
Highest_product.to_excel(writer,sheet_name = "Highest Product",index=False)
unique_product.to_excel(writer,sheet_name = "Different Company",index=False)

writer.save()